# Core
streamlit>=1.30
pandas>=2.0
numpy>=1.24

# Data & Finance
yfinance>=0.2.40
requests>=2.31

# Statistik
scipy>=1.11

# Charts
plotly>=5.18

# Google
gspread>=6.0
google-auth>=2.23
google-generativeai>=0.5

# Berita & NLP
feedparser>=6.0
nltk>=3.8
deep-translator>=1.11

# Utilities
pytz>=2024.1
tenacity>=8.2
Pillow>=10.0
beautifulsoup4>=4.12